step-functions/issue_credential_builder.asl.json
{
  "Comment": "Modified Build Verifiable Credential State Machine with Optional Expiry",
  "StartAt": "Fetch Max JWT TTL",
  "States": {
    "Fetch Max JWT TTL": {
      "Type": "Task",
      "Parameters": {
        "Name": "${MaxJwtTtlParameter}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Next": "Fetch JWT TTL Unit",
      "ResultSelector": {
        "ttl.$": "$.Parameter.Value"
      },
      "ResultPath": "$.MaxJwtTtl"
    },
    "Fetch JWT TTL Unit": {
      "Type": "Task",
      "Parameters": {
        "Name": "${JwtTtlUnitParameter}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.JwtTtlUnit",
      "Next": "Fetch Issuer Value"
    },
    "Fetch Issuer Value": {
      "Type": "Task",
      "Parameters": {
        "Name": "/${CommonStackName}/verifiable-credential/issuer"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultSelector": {
        "value.$": "$.Parameter.Value"
      },
      "ResultPath": "$.issuer",
      "Next": "Fetch exp time and NBF"
    },
    "Fetch exp time and NBF": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${TimeFunctionArn}",
        "Payload": {
          "ttl.$": "$.MaxJwtTtl.ttl",
          "ttlUnit.$": "$.JwtTtlUnit.value"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.time",
      "Next": "Set Claims"
    },
    "Set Claims": {
      "Type": "Pass",
      "Parameters": {
        "jti.$": "States.Format('urn:uuid:{}',States.UUID())",
        "iss.$": "$.issuer.value",
        "sub.$": "$.subject",
        "nbf.$": "$.time.Payload.nbf",
        "vc": {
          "credentialSubject.$": "$.credentialSubject",
          "evidence.$": "$.evidence"
        }
      },
      "ResultPath": "$",
      "Next": "Is Type Present?"
    },
    "Is Type Present?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.type",
          "IsPresent": true,
          "Next": "Use Supplied Type"
        }
      ],
      "Default": "Use Default Type",
      "OutputPath": "$"
    },
    "Use Supplied Type": {
      "Type": "Pass",
      "Parameters": {
        "value.$": "States.Array('VerifiableCredential', $.type)"
      },
      "Next": "Check Evidence",
      "ResultPath": "$.vc.type"
    },
    "Use Default Type": {
      "Type": "Pass",
      "Parameters": [["VerifiableCredential", "IdentityCheckCredential"]],
      "Next": "Check Evidence",
      "ResultPath": "$.vc.type"
    },
    "Check Evidence": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.vc.evidence",
          "IsPresent": true,
          "Next": "Build VerifiableCredential with Evidence"
        }
      ],
      "Default": "Build VerifiableCredential"
    },
    "Build VerifiableCredential": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.vc.type.value",
        "@context": [
          "https://www.w3.org/2018/credentials/v1",
          "https://vocab.london.cloudapps.digital/contexts/identity-v1.jsonld"
        ],
        "credentialSubject.$": "$.vc.credentialSubject"
      },
      "ResultPath": "$.vc",
      "Next": "End: Built VC"
    },
    "Build VerifiableCredential with Evidence": {
      "Type": "Pass",
      "Parameters": {
        "type.$": "$.vc.type[*][*]",
        "@context": [
          "https://www.w3.org/2018/credentials/v1",
          "https://vocab.london.cloudapps.digital/contexts/identity-v1.jsonld"
        ],
        "credentialSubject.$": "$.vc.credentialSubject",
        "evidence.$": "$.vc.evidence"
      },
      "ResultPath": "$.vc",
      "Next": "End: Built VC"
    },
    "End: Built VC": {
      "Type": "Pass",
      "End": true,
      "ResultPath": "$.claimset"
    }
  }
}
